[user]
        name = Samuel Littley
        email = samuel.littley@toastwaffle.com
[alias]
        lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
        co = checkout
[color]
        ui = true
[push]
        default = simple
[core]
        pager = less -x2
        autocrlf = input
        safecrlf = false
[branch]
        autosetuprebase = always
[merge]
        tool = meld
[diff]
        tool = meld
