[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=MyXmonad
Comment=Lightweight X11 tiled window manager written in Haskell
Exec=/usr/bin/xmonad.start
Icon=xmonad
Terminal=false
StartupNotify=false
Categories=Application;
