[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=MyXmonad
Comment=Lightweight X11 tiled window manager written in Haskell
Exec=/usr/local/google/home/samuellittley/.xmonad/start.sh
Icon=xmonad
Terminal=false
StartupNotify=false
Categories=Application;
